ODD/GaskellDraft_ODD.odd

<?xml version="1.0" encoding="UTF-8"?>
<TEI xmlns:xi="http://www.w3.org/2001/XInclude" xmlns:svg="http://www.w3.org/2000/svg"
  xmlns:math="http://www.w3.org/1998/Math/MathML" xmlns:sch="http://purl.oclc.org/dsdl/schematron"
  xmlns:rng="http://relaxng.org/ns/structure/1.0" xmlns="http://www.tei-c.org/ns/1.0">
  <teiHeader>
    <fileDesc>
      <titleStmt>
        <title>Gaskell Journal ODD</title>
        <author>Melissa J. Klamer</author>
      </titleStmt>
      <publicationStmt>
        <p>Prepared in TEI by Melissa Klamer for the Digital Edition of Elizabeth Gaskell's Manuscript Journal. GitHub repository: https://github.com/MKlamer/Motherhood 
        </p></publicationStmt>
      <sourceDesc>
        <p>[Information about the creation of the ODD]</p>
      </sourceDesc>
    </fileDesc>
    <revisionDesc>
      <change who="#mjk" when="2019-12-18">Added RevisionDesc.</change>
    </revisionDesc>
  </teiHeader>
  <text>
    <body>
      <head>ODD for the Elizabeth Gaskell Diary Transcription XML file; encoding and schema developed by Melissa J. Klamer</head>
      <schemaSpec ident="oddex1" start="TEI">
         <moduleRef key="tei"/>
        <moduleRef key="core" include="listBibl bibl title author editor publisher pubPlace milestone biblScope name date desc head lg l lb note p q ref resp respStmt textLang quote pb choice unclear add gap time hi sic reg del email address"/>
        <moduleRef key="header"/>  
        <moduleRef key="textstructure" include="TEI body div front text dateline"/>
        <moduleRef key="transcr"/>
        <moduleRef key="analysis"/>
        <moduleRef key="msdescription"/>
        <moduleRef key="certainty"/>
        <moduleRef key="gaiji"/>
        <moduleRef key="verse"/>
        <moduleRef key="textcrit"/>
        <moduleRef key="linking"/>
        <moduleRef key="namesdates"/>
       
       <elementSpec ident="milestone" module="core" mode="change">
         <attList>
           <attDef ident="resp" mode="replace" usage="req">
             <valList>
               <defaultVal ident="#mjk"/>
             </valList>
           </attDef>
         </attList>
       </elementSpec>
        <elementSpec ident="list" module="header" mode="add">
          
        </elementSpec>        
        <elementSpec ident="persName" module="core" mode="change">
          <attList>
            <attDef ident="ref" mode="replace" usage="req">
              <valList type="closed">
                <valItem ident="#mjk"/>
                <valItem ident="#Elizabeth_Stevenson_Gaskell"/>
                <valItem ident="#Wm_Gaskell"/>
                <valItem ident="#MA_Gaskell_Holland"/>
                <valItem ident="#Meta_Gaskell"/>
                <valItem ident="#Hannah_Holland_Lumb"/>
                <valItem ident="#Abigail_Holland"/>
                <valItem ident="#Bessy_Holland"/>
                <valItem ident="#Margaret_Gaskell_Dimock"/>
                <valItem ident="#Elizabeth_Gaskell_Holland"/>
                <valItem ident="#Sam_Gaskell"/>
                <valItem ident="#Richard_Deane"/>
                <valItem ident="#MaryAnn_Deane"/>
                <valItem ident="#Edward_Deane"/>
                <valItem ident="#Emily_Deane"/>
                <valItem ident="#Mrs_Collins"/>
                <valItem ident="#James_Partington"/>
                <valItem ident="#Betsy_household"/>
                <valItem ident="#Fanny_household"/>
                <valItem ident="#Elizabeth_Barlow_household"/>
                <valItem ident="#Mme_DeSaussure"/>
                <valItem ident="#Andrew_Combe"/>
                <valItem ident="#Florence_Gaskell_Crompton"/>
                <valItem ident="#Julia_Gaskell"/>
                <valItem ident="#William_Gaskell_son"/>
                <valItem ident="#William_Stevenson"/>
                <valItem ident="#Elizabeth_Holland_Stevenson"/>
                <valItem ident="#John_Stevenson"/>
                <valItem ident="#Catherine_Thompson_Stevenson"/>
                <valItem ident="#Marianne_Lumb"/>
                <valItem ident="#Anne_Gaskell"/>
                <valItem ident="#Robert_Gaskell"/>
                <valItem ident="#Edward_Dimock"/>
                <valItem ident="#William_Gaskell_Senior"/>
                <valItem ident="#God"/>
                <valItem ident="#Peter_Holland"/>
                <valItem ident="#Caroline_Bowles_Southey"/>
                <valItem ident="#Holbrook_Gaskell"/>
                <valItem ident="#Queen_Victoria"/>
                <valItem ident="#William_Howitt"/>
              </valList>
            </attDef>
            
          </attList>
          
          
        </elementSpec> 
        
        <elementSpec ident="placeName" module="core" mode="change">
          <attList>
            <attDef ident="ref" mode="replace" usage="req">
              <valList type="closed">
                <valItem ident="#Knutsford"/>
                <valItem ident="#London"/>
                <valItem ident="#Alton"/>
                <valItem ident="#Warrington"/>
                <valItem ident="#ProspectHill"/>
                <valItem ident="#Grange"/>
                <valItem ident="#Crosby"/>
                <valItem ident="#Wales"/>
                <valItem ident="#InfantSchool"/>
                <valItem ident="#Latchford"/>
                <valItem ident="#Geneva"/>
                <valItem ident="#Edinburgh"/>
                <valItem ident="#Savannah"/>
                <valItem ident="#Berwick"/>
                <valItem ident="#Manchester"/>
                <valItem ident="#CloptonHall"/>
                <valItem ident="#CrossStreetChapel"/>
                <valItem ident="#SankeyStreetChapel"/>
                <valItem ident="#England"/>
                <valItem ident="#Chelsea"/>
                <valItem ident="#Porthmadog"/>
                <valItem ident="#Heathside"/>
                <valItem ident="#Sandlebridge"/>
                <valItem ident="#PlasynPenhryn"/>
                <valItem ident="#ChurchHouse"/>
              </valList>
            </attDef>
          </attList>
        </elementSpec>
        <elementSpec ident="bibl" module="core" mode="change">
          <attList>
            <attDef ident="ref" mode="replace" usage="req">
              <valList type="closed">
                <valItem ident="#Southey-ToADyingInfant"/>
                <valItem ident="#Saussure-LEducationProgressive"/>
                <valItem ident="#Combe-Physiology"/>
                <valItem ident="#Blackwoods"/>
                <valItem ident="#Bible"/>
               </valList>
            </attDef>
          </attList>
        </elementSpec>
      </schemaSpec>
    </body>
  </text>
</TEI>



