ODD/GaskellDraft_ODD.odd

<?xml version="1.0" encoding="UTF-8"?>
<TEI xmlns:xi="http://www.w3.org/2001/XInclude" xmlns:svg="http://www.w3.org/2000/svg"
  xmlns:math="http://www.w3.org/1998/Math/MathML" xmlns:sch="http://purl.oclc.org/dsdl/schematron"
  xmlns:rng="http://relaxng.org/ns/structure/1.0" xmlns="http://www.tei-c.org/ns/1.0">
  <teiHeader>
    <fileDesc>
      <titleStmt>
        <title>Gaskell Journal ODD</title>
        <author ref="#mjk">Melissa J. Klamer</author>
        <author ref="#ebb">Dr. Elisa Beshero-Bondar</author>
        <author ref="#ama">Alyssa Argento</author>
        <author ref="#amp">Amber Peddicord</author>
        <!--2020-04-16 ebb: Would you acknowledge the assistance of me and Alyssa Argento and Amber Peddicord 
          in the development of this ODD? We'd appreciate it. You should research the TEI header to determine the 
        way you'd like to handle this acknowledgement. You can also designate our usual initials as they appear in comments
        on the code with an @ref attribute when you mention us. So here you could say
        <author ref="#mjk">
        and refer to us, on whatever elements you choose to designate us, as #ebb, #ama and #amp
        -->
      </titleStmt>
      <publicationStmt>
        <p>Prepared in TEI by Melissa Klamer for the Digital Edition of Elizabeth Gaskell's
          Manuscript Journal. GitHub repository: <ptr target="https://github.com/MKlamer/Motherhood-Journal"/>
        <!--2020-04-16 ebb: Since your GitHub repository location is a web URL, I added a ptr element to contain it as a URL.
        This isn't exactly a hyperlink, but a tagged way of storing url information. The other option is ref with the same attribute, 
        like so: <ref target="https://github.com/MKlamer/Motherhood">https://github.com/MKlamer/Motherhood</ref>
        And that looks more like a web link, but it's not really necessary to duplicate the URL information in the context of the 
        informational TEI header.
        -->
        </p>
      </publicationStmt>
      <sourceDesc>
        <p>Code draws on customizations </p>
      </sourceDesc>
    </fileDesc>
    <revisionDesc><!--2020-04-16 ebb: ALWAYS UPDATE YOUR CHANGE LOG when you make a change to your ODD. 
    This is very important documentation for the long life of your project. You should have an entry for 2020-04-15 here.-->
     
      <!--MISSING ENTRY or ENTRIES  -->
      <change when="2020-04-16" resp="ebb">Repaired erroneous attribute definitions on the milestone elementSpec to add mode="replace".</change>
      <change when="2020-04-15" resp="#mjk">Updating ODD to validate milestone tagging.</change>
      <change when="2020-03-31" resp="#mjk">Added milestone element to transcription file, reapplying ODD.</change>
      <change when="2020-03-20" resp="#mjk">Updated file names for digital edition.</change>
      <change when="2020-03-18" resp="#mjk">Additional placeNames added to ODD customization.</change>
      <change when="2020-03-14" resp="#mjk">Updating javascript; changes to CSS.</change>
      <change when="2020-03-08" resp="#mjk">Encoded prayers within seg elements; added seg to ODD.</change>
      <change when="2020-03-04" resp="#mjk">Updated TEI header; adjusted ODD, placeName validation now working.</change>
      <change when="2020-03-01" resp="#mjk">Prosopography updated; placeNames not validating. </change>
      <change when="2020-03-01" resp="#mjk">Updated ODD entries corresponding to prosopography changes.</change>
      <change when="2020-02-29" resp="#mjk">Updated XSLT to process paragraph-level elements.</change>
      <change when="2020-02-23" resp="#mjk">ODD fix: adding hashtags in placeName ids.</change>
      <change when="2020-02-23" resp="#mjk">Updating: Added elementSpec for placename vallist.</change>
      <change when="2020-02-17" resp="#amp">Adding missing ODD values.</change>
      <change when="2020-02-17" resp="#ebb">further refinements to ODD. </change>
      <change when="2020-02-17" resp="#ebb">repaired ODD schema; validation working</change>
      <change when="2020-02-17" resp="#ebb">cleaning up ODD schema, adding gitignore.</change>
      <change when="2020-02-17" resp="#mjk">Updated ODD to correct for validation.</change>
      <change when="2020-01-20" resp="#mjk">Updated ODD with PI information.</change>
      <change when="2020-01-01" resp="#mjk">Partial verification of entry 7; updates to quotation mark encoding</change>
      <change when="2019-12-29" resp="#mjk">Tandem verification complete, entries 8-11.</change>
      <change when="2019-12-18" resp="#mjk">Added RevisionDesc.</change>
      <change when="2018-09-13" resp="#mjk">Updated xml:ids</change>
      <change when="2018-08-30" resp="#ebb">Updated ODD for elementSpec; corrections made to ensure validation. </change>
      <change when="2018-06-18" resp="#mjk">Schema fix: wrong directory; Updated to ensure validation is working.</change>
    </revisionDesc>
  </teiHeader>
  <text>
    <body>
      <head>ODD for the Elizabeth Gaskell Diary Transcription XML file; encoding and schema
        developed by Melissa J. Klamer</head>
      <schemaSpec ident="oddex1" start="TEI">
        <moduleRef key="tei"/>
        <moduleRef key="core"
          include="listBibl bibl title author editor publisher pubPlace milestone biblScope name date desc head lg l lb note p q ref resp respStmt textLang quote pb choice unclear add gap time hi sic reg del email address"/>
        <moduleRef key="header"/>
        <moduleRef key="textstructure" include="TEI body div front text dateline"/>
        <moduleRef key="transcr"/>
        <moduleRef key="analysis"/>
        <moduleRef key="msdescription"/>
        <moduleRef key="tagdocs"/>
        <moduleRef key="certainty"/>
        <moduleRef key="gaiji"/>
        <moduleRef key="verse"/>
        <moduleRef key="textcrit"/>
        <moduleRef key="linking"/>
        <moduleRef key="namesdates"/>

        <elementSpec ident="milestone" module="core" mode="change">
          <attList>
            <attDef ident="resp" mode="replace" usage="req">
              <valList type="closed">
                <valItem ident="#mjk"/>
                </valList>
            </attDef>
           <attDef ident="type" mode="replace" usage="req">
              <valList type="closed">
                <valItem ident="address"/>
                <valItem ident="matTheory"/>
                <valItem ident="mentDesc"/>
                <valItem ident="motherhood"/>
                <valItem ident="physDesc"/>
                <valItem ident="socHist"/>
              </valList>
            </attDef>
            <attDef ident="part" mode="replace" usage="opt">
              <valList type="closed">
                <valItem ident="initial"/>
                <valItem ident="medial"/>
                <valItem ident="final"/>
              </valList>
            </attDef>
          </attList>
        </elementSpec>
        <elementSpec ident="list" module="header" mode="add"> </elementSpec>
        <elementSpec ident="persName" module="core" mode="change">
          <attList>
            <attDef ident="ref" mode="replace" usage="req">
              <valList type="closed">
                <valItem ident="#mjk"/>
                <valItem ident="#Elizabeth_Stevenson_Gaskell"/>
                <valItem ident="#Wm_Gaskell"/>
                <valItem ident="#MA_Gaskell_Holland"/>
                <valItem ident="#Meta_Gaskell"/>
                <valItem ident="#Hannah_Holland_Lumb"/>
                <valItem ident="#Abigail_Holland"/>
                <valItem ident="#Bessy_Holland"/>
                <valItem ident="#Margaret_Gaskell_Dimock"/>
                <valItem ident="#Elizabeth_Gaskell_Holland"/>
                <valItem ident="#Sam_Gaskell"/>
                <valItem ident="#Richard_Deane"/>
                <valItem ident="#MaryAnn_Deane"/>
                <valItem ident="#Edward_Deane"/>
                <valItem ident="#Emily_Deane"/>
                <valItem ident="#Mrs_Collins"/>
                <valItem ident="#James_Partington"/>
                <valItem ident="#Betsy_household"/>
                <valItem ident="#Fanny_household"/>
                <valItem ident="#Elizabeth_Barlow_household"/>
                <valItem ident="#Mme_DeSaussure"/>
                <valItem ident="#Andrew_Combe"/>
                <valItem ident="#Florence_Gaskell_Crompton"/>
                <valItem ident="#Julia_Gaskell"/>
                <valItem ident="#William_Gaskell_son"/>
                <valItem ident="#William_Stevenson"/>
                <valItem ident="#Elizabeth_Holland_Stevenson"/>
                <valItem ident="#John_Stevenson"/>
                <valItem ident="#Catherine_Thompson_Stevenson"/>
                <valItem ident="#Marianne_Lumb"/>
                <valItem ident="#Anne_Gaskell"/>
                <valItem ident="#Robert_Gaskell"/>
                <valItem ident="#Edward_Dimock"/>
                <valItem ident="#William_Gaskell_Senior"/>
                <valItem ident="#God"/>
                <valItem ident="#Peter_Holland"/>
                <valItem ident="#Caroline_Bowles_Southey"/>
                <valItem ident="#Holbrook_Gaskell"/>
                <valItem ident="#Queen_Victoria"/>
                <valItem ident="#William_Howitt"/>
              </valList>
            </attDef>

          </attList>


        </elementSpec>

        <elementSpec ident="placeName" module="core" mode="change">
          <attList>
            <attDef ident="ref" mode="replace" usage="req">
              <valList type="closed">
                <valItem ident="#Knutsford"/>
                <valItem ident="#London"/>
                <valItem ident="#Alton"/>
                <valItem ident="#Warrington"/>
                <valItem ident="#ProspectHill"/>
                <valItem ident="#Grange"/>
                <valItem ident="#Crosby"/>
                <valItem ident="#Wales"/>
                <valItem ident="#InfantSchool"/>
                <valItem ident="#Latchford"/>
                <valItem ident="#Geneva"/>
                <valItem ident="#Edinburgh"/>
                <valItem ident="#Savannah"/>
                <valItem ident="#Berwick"/>
                <valItem ident="#Manchester"/>
                <valItem ident="#CloptonHall"/>
                <valItem ident="#CrossStreetChapel"/>
                <valItem ident="#SankeyStreetChapel"/>
                <valItem ident="#England"/>
                <valItem ident="#Chelsea"/>
                <valItem ident="#Porthmadog"/>
                <valItem ident="#Heathside"/>
                <valItem ident="#Sandlebridge"/>
                <valItem ident="#PlasynPenhryn"/>
                <valItem ident="#ChurchHouse"/>
              </valList>
            </attDef>
          </attList>
        </elementSpec>
        <elementSpec ident="bibl" module="core" mode="change">
          <attList>
            <attDef ident="ref" mode="replace" usage="req">
              <valList type="closed">
                <valItem ident="#Southey-ToADyingInfant"/>
                <valItem ident="#Saussure-LEducationProgressive"/>
                <valItem ident="#Combe-Physiology"/>
                <valItem ident="#Blackwoods"/>
                <valItem ident="#Bible"/>
              </valList>
            </attDef>
          </attList>
        </elementSpec>
      </schemaSpec>
    </body>
  </text>
</TEI>
